[id="{{ page }}"]
{% for item in map -%}
  {%- if item.url == page -%}
// = {{ item.navtitle }}
:navtitle: {{ item.navtitle }}
  {%- endif -%}
{%- endfor %}
:keywords: {{ target }}, {{ page }}
{% for alias in aliases -%}
  {%- if alias.to == page -%}
:page-aliases: {{ alias.from }}
  {%- endif -%}
{%- endfor %}

{% for item in map -%}
  {%- if item.url == page -%}
include::partial${{ item.file }}[]
  {%- endif -%}
{%- endfor %}
