<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <servers>
      <server>
         <id>che-incubator</id>
         <username>${env.GITHUB_USERNAME}</username>
         <password>${env.GITHUB_TOKEN}</password>
      </server>
   </servers>

   <profiles>
      <profile>
         <id>github</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>central</id>
               <url>https://repo1.maven.org/maven2</url>
                <releases><enabled>true</enabled></releases>
                <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                <id>che-incubator</id>
                <name>GitHub navikt Apache Maven Packages</name>
                <url>https://maven.pkg.github.com/che-incubator/che-workspace-telemetry-client</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    </settings>
