target/
_site/
*.swp
pkg/
test/

# jekyll
vendor
.bundle
.jekyll-metadata

.sass-cache/

.classpath
.project
.settings/
.vscode/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

# Antora
.cache
node_modules/
build/

linkchecker-out.html

