target/
_site/
*.swp
pkg/
test/

# jekyll
vendor
.bundle
.jekyll-metadata

.sass-cache/

.classpath
.project
.settings/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

# Antora
.cache
node_modules/
build/

# Keep Vale styles external
.vale/styles/CheDocs*
.vale/styles/RedHat*

linkchecker-out.html
.ash_history
.bash_history
.cache
.local
.yarnrc
yarn.lock

.DS_Store

# Do not commit diagrams generated for downstream
crw*
