target/
_site/
*.swp
pkg/
test/

# jekyll
vendor
.bundle
.jekyll-metadata

.sass-cache/

.classpath
.project
.settings/
.vscode/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

# Antora
.cache
node_modules/
build/plain-asciidoc
build/site
build/site.zip
build/site-unbranded

# Keep Vale styles external
.vale/styles/

linkchecker-out.html
.ash_history
.bash_history
.cache
.local
.yarnrc
yarn.lock

.DS_Store

# Do not commit diagrams generated for downstream
crw*
