---
#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

# Use this Antora Playbook for development, to build current state in HEAD.
site:
  title: Eclipse Che Documentation
  # Disabling url on purpose to avoid htmltest crawling the live website.
  # url: https://www.eclipse.org/che/docs
  start_page: docs:user-guide:starting-a-workspace-using-the-dashboard.adoc
  robots: allow
content:
  sources:
    - url: ./
      branches:
        - HEAD
      edit_url: "{web_url}/edit/{refname}/{path}"
    - url: https://github.com/eclipse/che-docs
      branches:
        - "7.42.x"
      edit_url: "{web_url}/edit/{refname}/{path}"
output:
  destinations:
    - provider: fs
      clean: true
      path: build/site
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui
urls:
  html_extension_style: indexify
  redirect_facility: static
runtime:
  cache_dir: ./.cache/antora
