{% include base.html %}
<!-- jQuery Eclipse IP approval https://dev.eclipse.org/ipzilla/show_bug.cgi?id=10801 -->
<script type="text/javascript" charset="utf8" src="{{ base }}/docs/assets/scripts/jquery-1.8.1.min.js"></script>

<script type="text/javascript" charset="utf8">
  $(document).ready(function(){
    var images = document.getElementsByTagName('img');
    for (var i = 0; i < images.length; i++) {
      var image = images[i];
      var parentElement = image.parentElement;
      var a = document.createElement('a');
      if (! image.getAttribute('src').includes("logo-codenvy.svg") ){
          a.href = image.getAttribute('src');
          a.target = "_blank";
          a.appendChild(image);
          parentElement.appendChild(a);
      }
    }
  });
</script>
{% include top.html %}

<body class="wrap">
  {% include header-artik.html %}

  <section class="artik">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <div class="improve right hide-on-mobiles">
            <a href="https://github.com/codenvy/{{ page.tags[1] }}-docs/blob/master/src/main/{{ page.path }}"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>
            <!--<a href="https://github.com/{{ page.tags[0] }}/{{ page.tags[1] }}/blob/master/docs/{{ page.path }}"><i class="fa fa-pencil"></i> &nbsp;Improve this page</a>-->
          </div>
          <div class="doc-title">
            <h1>{{ page.title }}</h1>
            <div class="doc-title-border">
            </div>
          </div>
          {{ content }}
          {% include section_nav.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>



  {% include anchor_links.html %}
  {% include analytics.html %}

</body>
</html>


