<footer class="footer">
    <div><a href="https://www.eclipse.org" target="_blank">Eclipse Foundation</a> | 
       <a href="https://www.eclipse.org/legal/privacy.php" target="_blank">Privacy Policy</a> |
       <a href="https://www.eclipse.org/legal/termsofuse.php" target="_blank">Terms of Use</a> |
       <a href="https://www.eclipse.org/legal/epl-2.0/" target="_blank">Eclipse Public License</a> |
       <a href="https://www.eclipse.org/legal" target="_blank">Legal Resources</a></div>
</footer>
