<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://www.eclipse.org/che/docs">Eclipse Che Documentation</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
        <div class="navbar-item hide-for-print">
          <script async src="https://cse.google.com/cse.js?cx=002898025167115630151:gnr5edrg2eo"></script>
          <div class="gcse-searchbox" enableAutoComplete="true"></div>
        </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <a class="navbar-item" href="https://che.eclipse.org/">Blog</a>
        <a class="navbar-item" href="https://github.com/eclipse/che">Source Code</a>
      </div>
    </div>
  </nav>
<div class="gcse-searchresults"></div>
</header>