<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <img src="{{uiRootPath}}/img/icon-eclipse-che.svg" class="navbar-logo" alt="Eclipse Che logo">
        <a href="{{site.url}}/">{{site.title}}</a>
      </div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs" autofocus>
          </div>
        </div>
        <a class="navbar-item" href="https://www.eclipse.org/che/">Home</a>
        <a class="navbar-item" href="https://che.eclipseprojects.io/">Blog</a>
        <a class="navbar-item" href="https://github.com/eclipse/che">Source Code</a>
      </div>
    </div>
  </nav>
 </header>
 