{% include base.html %}
<ul>
{% for item in include.items %}
  {% assign item_url = item | prepend:"/docs/" | append:"/" %}
  {% assign item_url = item_url | replace_first:'/docs/intro/','/docs/' %}
  {% assign item_url = item_url | replace_first:'/tutorial-','/tutorials/' %}
  {% assign item_url = item_url | replace_first:'/devops-','/devops/' | replace_first:'/ide-','/ide/' %}
  {% assign item_url = item_url | replace_first:'/setup-','/setup/' %}
  {% assign item_url = item_url | replace_first:'/user-management-','/user-management/' %}
  {% assign item_url = item_url | replace_first:'/che-setupalt-','/setup-alternatives/' | replace_first:'/chedir-','/chedir/' %}
  {% assign item_url = item_url | replace_first:'/assemblies-','/assemblies/' | replace_first:'/factory-','/factory/' %}
  {% assign p = site.documents | where:"url", item_url | first %}
  {% if p != null %}
    <li class="{% if item_url == page.url %}current{% endif %}"><a href="{{ base }}{{ p.url }}index.html">{{ p.title }}</a></li>
  {% else %}
    <li class=""><a href="">Error Generating Page Link. Contact Maintainer.{{item_url}}</a></li>
  {% endif %}

{% endfor %}
</ul>
