<div class="unit one-fifth hide-on-mobiles">
  <aside>
    {% if page.layout == 'tutorials' %}
    {% assign layout_docs = site.data.tutorials %}
    {% elsif page.layout == 'docs' %}
    {% assign layout_docs = site.data.docs %}
    {% elsif page.layout == 'release-notes' %}
    {% assign layout_docs = site.data.release-notes %}
    {% endif %}
    {% for section in layout_docs %}
    <h4>{{ section.title }}</h4>
    {% if page.layout == 'tutorials' %}
    {% include docs_ul.html items=section.tutorials %}
    {% elsif page.layout == 'docs' %}
    {% include docs_ul.html items=section.docs %}
    {% elsif page.layout == 'release-notes' %}
    {% include docs_ul.html items=section.release-notes %}
    {% endif %}


    {% endfor %}
  </aside>
</div>
