<ul>
  <li class="{% if page.overview == true %}current{% endif %}">
    <a href="{{ base }}/docs/index.html">Home</a>
  </li>
  {% unless page.url contains '/docs/tutorials/' or page.url contains '/docs/openshift/' or page.url contains '/docs/artik/' %}
    {% assign docs_general = true %}
  {% endunless  %}
  <li class="{% if page.url contains '/docs/' and docs_general == true and page.overview == null %}current{% endif %}">
    <a href="{{ base }}">Docs</a>
  </li>
  <li class="{% if page.url contains '/docs/tutorials/' %}current{% endif %}">
    <a href="{{ base }}/docs/tutorials/multi-machine/index.html">Tutorials</a>
  </li>
  <li class="{% if page.url contains '/docs/artik/' %}current{% endif %}">
    <a href="{{ base }}/docs/artik/start-windows/index.html">Artik</a>
  </li>
  <li class="{% if page.url contains '/docs/openshift/' %}current{% endif %}">
    <a href="{{ base }}/docs/openshift/config/index.html">Openshift</a>
  </li>
  <li>
    <a href="https://github.com/{{ page.tags[0] }}/{{ page.tags[1] }}/tree/master/docs/"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li>
</ul>
