<ul>
  {% unless page.url contains '/docs/tutorials/' or page.url contains '/docs/openshift/' or page.url contains '/docs/artik/' %}
    {% assign docs_general = true %}
  {% endunless  %}
  <li class="{% if page.url contains '/docs/' and docs_general == true and page.overview == null %}current{% endif %}">
    <a href="{{ base }}/docs/index.html">Docs</a>
  </li>
  <li class="{% if page.url contains '/docs/tutorials/' %}current{% endif %}">
    <a href="{{ base }}/docs/tutorials/multi-machine/index.html">Tutorials</a>
  </li>
  <li>
    <a href="https://github.com/eclipse/che-docs/tree/master/src/main">GitHub</a>
  </li>
</ul>
