#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

# Name is reused in `publish-netlify.yml`
name: "Build and validate pull request"

on:
  - pull_request

jobs:
  build:
    name: "Build and validate pull request"
    runs-on: ubuntu-22.04
    container: "quay.io/eclipse/che-docs:next"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Necessary for git diff in vale step

      - name: Build using antora # and fail on warning
        id: antora-build
        run: CI=true antora generate antora-playbook-for-development.yml --stacktrace --log-failure-level=warn

      - name: Store pull request details for publish-netlify
        run: |
          echo "${{ github.event.number }}" > PR_NUMBER
          echo "${{ github.event.pull_request.head.sha }}" > PR_SHA

      - name: Upload artifact doc-content
        uses: actions/upload-artifact@v4
        with:
          name: doc-content
          path: |
            build/site
            PR_NUMBER
            PR_SHA


      - name: Report unused content
        run: tools/detect-unused-content.sh

      - name: Validate language on files added or modified
        run: tools/validate_language_changes.sh

