#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: vale-pr-check
on:
  - pull_request
jobs:
  vale:
    name: Validate style on new and modified files in PR
    runs-on: ubuntu-20.04
    container: "quay.io/eclipse/che-docs:latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Vale
        run: |
          vale -v
          echo "Changed files, in comparison to branch $GITHUB_BASE_REF"
          git diff --name-status origin/master | grep -v ^D | cut -b2-
          vale $(git diff --name-status origin/master | grep -v ^D | cut -b2-)
